<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mailgun App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Jquery script import-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
    </script>
    <!-- Css Style-->
    <style>
        body {
            box-sizing: border-box;
        }
        
        form {
            /* margin: 10%; */
            width: 400px;
            /* margin: 10% 40%; */
        }
        
        .container {
            margin: 10% 30%;
        }
        
        textarea {
            height: 300px;
        }
    </style>
</head>

<body>
    <div class="container">
        Please send your request

        <form method="POST" action="/send">

            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="">Subject</label>
                <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject">
            </div>
            <div class="form-group">
                <label for="">Message</label>
                <textarea class="form-control" id="mesage" placeholder="Message" name="message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

</html>